*{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
}
            
.header{
    width: 100%;
    background: #1d1d1f;
}

.body{
    background: rgba(221, 221, 221, 0.897);
    
}

nav{
    justify-content: space-between;
    position: relative;
    padding: 2% 6%;
    display: flex;
    align-items: center;
    padding-top: 75px;
}

nav img{
    width: 70px;
}

nav span{
    padding-left: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 25px
}

nav input{
    position:relative;  
    left: 39%;
    top: 25%;
    width: 24%;
    border-radius: 20px;
}

.navbar{
    flex: 1;
    text-align: right;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.navbar ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 25px;
}

.navbar ul li a:hover{
    transform: translate(5px);
    transition-duration: 0.5s;
    color: orangered;
}



/* ---- footer -----*/
footer{
        
    padding-top: 850px;

}

.footer-content .socials{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 40px;
}

.socials{
    list-style: none;
}

.socials li{
    margin: 0 10px;
    padding-top: 40px;
}

.footer-content h2{
    color: white;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.footer-content .email{
    padding-top: 10px;
}

.footer-content{
background: #1d1d1f;
}
